apiVersion: v1
kind: ConfigMap
metadata:
  name: qdrant-config
  namespace: default
data:
  config.yaml: |
    log_level: INFO
    service:
      http_port: 6333
      grpc_port: 6334
      enable_cors: true
    storage:
      storage_path: /qdrant/storage
      snapshots_path: /qdrant/snapshots
      on_disk_payload: true
    cluster:
      enabled: false