apiVersion: v1
kind: Service
metadata:
  name: chatbot-service
  labels:
    app: chatbot-service
spec:
  type: LoadBalancer
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: chatbot-service